
.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #E5E2E2;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 250px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #A29B9B;
    border-style: solid;    
}

.textField{
    margin: 10px;
}

.button{
    margin:40px;
    align-content: center;
}

.titleLabel{
    align-self: center;
    margin: 10px;
}