
.pageTitleLabel{
    justify-content: center;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 3em;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
    text-align: center;
    display: flex;
    margin: 30px auto;
  }
  .contenido-dialog h6{
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #5C6784 !important;
}